albumentations==1.3.1
beautifulsoup4==4.13.3
causal_conv1d==1.5.0.post8
clip==0.2.0
comet_ml==3.49.5
coremltools==8.2
dill==0.3.6
duckdb==1.2.1
dvclive==3.48.2
easydict==1.13
efficientnet_pytorch==0.7.1
einops==0.8.1
flash_attn==2.7.4.post1
flatbuffers==24.3.25
grad_cam==1.4.8
hub_sdk==0.0.20
ipython==8.12.2
lancedb==0.21.1
lapx==0.5.9.post1
lm_eval==0.4.8
lvis==0.5.3
matplotlib==3.7.4
mmcv==2.1.0
mmengine==0.10.4
mss==10.0.0
ncnn==1.0.20241226
nncf==2.15.0
numpy==1.22.2
onnx==1.17.0
onnx2tf==1.27.0
onnxruntime==1.21.0
onnxslim==0.1.48
openai==1.68.2
opencv_python==4.8.1.78
opencv_python_headless==4.10.0.84
openvino==2025.0.0
packaging==24.2
paddle==1.0.2
pafy==0.5.5
pandas==2.0.3
Pillow==10.1.0
Pillow==11.1.0
protobuf==3.20.3
psutil==5.9.0
psutil==5.9.6
py_cpuinfo==9.0.0
pycocotools==2.0.7
pytest==8.3.3
pytorch_wavelets==1.3.0
pytube==15.0.0
PyWavelets==1.4.1
PyYAML==6.0.1
PyYAML==6.0.2
ray==2.44.0
Requests==2.32.3
roboflow==1.1.58
sahi==0.11.22
scikit_learn==1.3.2
scipy==1.15.2
seaborn==0.13.2
sentry_sdk==2.24.0
setuptools==70.1.1
setuptools==75.1.0
Shapely==2.0.7
streamlit==1.43.2
streamlit_select==0.3
super_gradients==3.7.1
tensorflow==2.13.0
tensorflow_intel==2.13.0
tensorflowjs==4.22.0
tensorrt==10.9.0.34
tflite_runtime==2.14.0
tflite_support==0.4.4
thop==0.1.1.post2209072238
tidecv==1.0.1
timm==0.9.8
torch==1.13.1+cu117
torchvision==0.14.1+cu117
tqdm==4.65.2
transformers==4.50.0
tritonclient==2.55.0
ultralytics_thop==2.0.0
wandb==0.19.8
wheel==0.45.1
x2paddle==1.6.0
yt_dlp==2025.3.21
